DATABASE_URL=
DISCORD_TOKEN=
GUILD_ID=
MOD_CHANNEL_ID=
MEMBER_ROLE_ID=
NO_REPORTS_ROLE_ID=
AWARD_ROLE_ID=
AWARD_CHANNEL_ID=
RULES_CHANNEL_ID=
# STATUS_CHANNEL_ID=
# GIVEAWAY_REACTION_EMOJI=🎉
# GIVEAWAY_DEFAULT_DURATION=3600
# GIVEAWAY_DEFAULT_WINNERS=1
# GIVEAWAY_DEFAULT_PRIZE=Nothing
