version: "3"

services:
  testauskoira-rs:
    image: ghcr.io/testausserveri/testauskoira-rs:main 
    restart: "unless-stopped"
    depends_on:
      - testauskoira_mariadb
    links:
      - testauskoira_mariadb
    volumes:
      - .env:/app/.env
      - ./img:/app/img
      - ./blacklist.txt:/app/blacklist.txt
      - ./award_id_blacklist.txt:/app/award_id_blacklist.txt

  testauskoira_mariadb:
    container_name: testauskoira_mariadb
    image: mariadb
    volumes:
      - ./mariadb:/var/lib/mysql
    environment:
      - "MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=true"
    restart: "unless-stopped"

